body {
    background-image: url('images/landing page.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

body.signup-body {
    background-image: url('images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    height:70px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 10px;
} 

.navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-link{
    font-family: Inter;
    font-weight: 600;
    color: #2A474F;
}

.custom-button {
    width: 105px;
    white-space: nowrap;
    margin-right: 10px;
    border-radius: 12px;
    font-family: Inter;
    font-weight:600;
}

.custom-button-outline {
    background-color: none;
    color: #2A474F;
    outline: 2.5px solid #FF725E;
}

.container{
    margin-top: 60px;
}

.btn-primary:disabled {
    width: 190px;
    margin-right: 17px;
    background-color: #d9d9d9;
    outline: none !important;
    color: #2A474F;
    font-weight: 600;
    font-family: Inter;
    cursor: default;
    opacity: 1;
    box-shadow: none !important;
    border: none; /* This removes the border */
}

.spaced-button {
    width: 185px;
    margin-right: 20px;
    background-color: #d9d9d9;
    outline: none !important;
    color: #2A474F;
    font-weight: 600;
    font-family: Inter;
    cursor: default;
    border: none !important;
}

#gridkeren {
    margin-top: 35px;
}

.spaced-button:hover {
    background-color: #d9d9d9;
    outline: none !important;
    color: #2A474F;
    cursor: default;
}

.spaced-button:active, .spaced-button:focus {
    background-color: #d9d9d9;
    box-shadow: none;
    outline: none;
}

#judul{
    font-family: Inter;
    font-weight: 950;
    font-size: 50px;
    color: #2A474F;
}

#subjudul{
    font-family: Inter;
    font-weight: 200;
    font-size: 25px;
    color: #2A474F;
}

#searchnya{
    margin-top: 20px;
}

.form-control {
    width: 50%;
    margin: auto;
    margin: 10px auto;
}

#signupbox{
    outline: 2px solid #2A474F;
    height: 450px;
    background-color: #2A474F;
    border-radius: 30px;
}

#createaccount{
    text-decoration: underline;
    text-decoration-color: #FF725E;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    color: white;
    margin-top: 25px;
}

.form-control1 {
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    box-shadow: none;
}

#labelsignup{
    font-family: Inter;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-bottom: 0px;
    white-space: nowrap;
}

#formnya{
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

#submitbutton{
    background-color: #FF725E;
    color: white;
    width: 300px;
    height: 40px;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    box-shadow: none;
    margin-top: 20px;
}

#floatingInput, #floatingPassword {
    border: none;
    border-bottom: 1px solid #D9D9D9;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: white;
}

#floatingInput::placeholder {
    color: #D9D9D9;
}

#floatingPassword::placeholder {
    color: #D9D9D9;
}

#fullName, #email {
    border: none;
    border-bottom: 1px solid #D9D9D9;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: white;
}

#email::placeholder {
    color: #D9D9D9;
}

#fullName::placeholder {
    color: #D9D9D9;
}

#confirmPassword {
    border: none;
    border-bottom: 1px solid #D9D9D9;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: white;
}

#confirmPassword::placeholder {
    color: #D9D9D9;
}

#loginbox{
    outline: 2px solid #2A474F;
    height: 400px;
    background-color: #2A474F;
    border-radius: 30px;
    margin-top: 40px;
}

#loginaccount{
    text-decoration: underline;
    text-decoration-color: #FF725E;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 25px;
    color: white;
    margin-top: 65px;
}

#submitbuttonlogin{
    background-color: #FF725E;
    color: white;
    width: 270px;
    height: 40px;
    justify-content: center;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    box-shadow: none;
    margin-top: 30px;
}

.btn-group{
    margin-top: 30px;
}

#tomboltombol{
    margin-top: 30px;
}

#departure{
    width:300px;
    background-color: #D9D9D9;
    outline: none;
    color: #2A474F;
}

#destination{
    width:300px;
    background-color: #D9D9D9;
    outline: none;
    color: #2A474F;
}

#route{
    height:500px;
    width: 800px;
    background-color: #2A474F;
    border-radius: 30px;
}

#routeunderline{
    text-decoration: underline;
    text-decoration-color: #FF725E;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin-top: 25px;
}

#argowilis{
    height: 40px;
    background-color: #FF725E;
    color: #2A474F;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    align-self: center;
    width: 100px;
    display: flex;
    margin-left: 325px;
    margin-top: 50px;
}

#plis{
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
}

#ruteargowilis{
    margin-top: 50px;
}

#nextback{
    margin:auto;
    margin-top: 70px;
    color: #D9D9D9;
    text-decoration: underline;
    text-decoration-color: #FF725E;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

#bromoanggrek{
    height: 40px;
    background-color: #FF725E;
    color: #2A474F;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    align-self: center;
    width: 150px;
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
}

#pandaluwungan{
    height: 40px;
    background-color: #FF725E;
    color: #2A474F;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    align-self: center;
    width: 150px;
    display: flex;
    margin-left: 300px;
    margin-top: 50px;
}

#train{
    width: 800px;
    height: 450px;
    background-color: #2A474F;
    border-radius: 25px;
    margin-top: 80px;
}

#trainunderline{
    text-decoration: underline;
    text-decoration-color: #FF725E;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
    color: white;
    margin-top: 25px;
}

#containerkereta{
    width: 100px;
    height:250px;
    background-color: #FF725E;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
    border-radius: 20px;
}

#containerwilis {
    background-color: #2A474F;
    width: 170px;
    height: 150px;
    margin-top: 16px;
    border-radius: 20px;
    display: flex;
    padding: 0;
    margin-top: 15px;
}

#containerwilis img {
    object-fit: cover;
    width: 170px;
    height: auto;
    border-radius: 20px;
    margin: 0;
    padding: 0;
}

#namawilis{
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-top: 25px;
    text-align: center;
}

#tombolmain{
    background-color: #FF725E;
    color: white;
    outline: none;
    border: 1px solid #2A474F;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    border: none;
}

#resultbox {
    width: 800px;
    height: 500px;
    background-color: #2A474F;
    border-radius: 25px;
    margin-top: 80px;
}




